*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
}
.dvd{
    width: 300px;
    height: 130px;
    position: absolute;
    animation: dvd 5s linear 4s infinite alternate forwards;
}
.dvd > img{
    width: 300px;

}
@keyframes dvd{
    0%{
        /* background-color: red; */
        filter: invert(22%) sepia(94%) saturate(5592%) hue-rotate(356deg) brightness(97%) contrast(103%);
        left: 500px;
        top: 0px;
    }
    25%{
        /* background-color: orange; */
        filter: invert(77%) sepia(54%) saturate(4719%) hue-rotate(3deg) brightness(108%) contrast(96%);
        left: 80%;
        top: 100px;
    }
    75%{
        /* background-color: green; */
        filter: invert(64%) sepia(52%) saturate(5101%) hue-rotate(83deg) brightness(107%) contrast(100%);
        left: 0px;
        top: 607px;
    }
    100%{
        /* background-color: rgb(234, 255, 0); */
        filter: invert(15%) sepia(84%) saturate(7481%) hue-rotate(306deg) brightness(96%) contrast(93%);
        left: 400px;
        top: 0px;
    }
}